trigger:
  branches:
    include:
      - "*"        # run pipeline on ALL branches

pr:
  branches:
    include:
      - "*"        # run pipeline for ALL pull requests

variables:
  - group: LoginCredentials
  - group: CertificatePrivateKey
  - group: AlpacaAccess


pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: Gradle@3
    displayName: 'Run Tests'
    inputs:
      gradleWrapperFile: 'gradlew'
      tasks: 'clean test'
      publishJUnitResults: true
      testResultsFiles: '**/build/test-results/test/*.xml'
    env:
      AUTHENTIFICATION_USERNAME: $USERNAME
      AUTHENTIFICATION_PASSWORD: $PASSWORD
      PAPERSECRET: $PAPERSECRET
      PAPERAPIKEY: $PAPERAPIKEY
      SECRET: $SECRET
      APIKEY: $APIKEY
      KEYSTORE_PRIVATEKEY_CERTIFICATE_PASSWORD: $KEYSTORE_PRIVATEKEY
