name: '$(Build.DefinitionName)_$(Build.BuildId)'

trigger: none  # no automatic trigger

variables:
  - group: LoginCredentials
  - group: CertificatePrivateKey
  - group: AlpacaAccess

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: DownloadSecureFile@1
    name: keystoreFile
    inputs:
      secureFile: keystore.p12

  - task: DownloadSecureFile@1
    name: privateKeyFile
    inputs:
      secureFile: private.pem

  - task: DownloadSecureFile@1
    name: publicKeyFile
    inputs:
      secureFile: public.pem
  - task: Gradle@4
    displayName: 'Run Tests'
    inputs:
      gradleWrapperFile: 'gradlew'
      tasks: 'clean test'
      publishJUnitResults: true
      testResultsFiles: '**/build/test-results/test/*.xml'
    env:
      AUTHENTIFICATION_USERNAME: $(USERNAME)
      AUTHENTIFICATION_PASSWORD: $(PASSWORD)
      PAPERSECRET: $(PAPERSECRET)
      PAPERAPIKEY: $(PAPERAPIKEY)
      SECRET: $(SECRET)
      APIKEY: $(APIKEY)
      KEYSTORE_PRIVATEKEY_CERTIFICATE_PASSWORD: $(KEYSTORE_PRIVATEKEY)
      KEYSTORE_PATH: $(keystoreFile.secureFilePath)
      PRIVATEKEY_PATH: $(privateKeyFile.secureFilePath)
      PUBLICKEY_PATH: $(publicKeyFile.secureFilePath)

  - task: Bash@3
    displayName: 'Print info'
    inputs:
      targetType: 'inline'
      script: |
        echo "Hello from pipeline"
        echo "Build.SourcesDirectory = $(Build.SourcesDirectory)"
        echo "Working directory = $(pwd)"
        echo "Branch = $(Build.SourceBranch)"
        echo ""
        echo "=== Contents of current directory ==="
        ls -la

        echo ""
        echo "=== Contents of Build.SourcesDirectory ==="
        ls -la $(Build.SourcesDirectory)

  - task: Bash@3
    displayName: 'Build and push multi-arch Docker image'
    inputs:
      targetType: 'filePath'
      filePath: 'Docker/CrossBuildAndPush.sh'
      arguments: ''
      workingDirectory: '$(Build.SourcesDirectory)'
